
main{

    padding: 100px;
}
.ler_tbate{
    position: fixed;
    padding-left: 100px;
    height: 700px;
    width: 1200px;
}

.ler_tbate p{
    position: fixed;
    top: 100px;
    padding-left: 200px;
    font-weight: 900;
    font-size: 30px;
}

.img_tbate{
   
    
   align-content: end;
    
}
#tbateL{
position: fixed;
padding-left: 200px;

}