main {
    height: 1200px;
    padding: 100px;
}

.ler {
    position: absolute;
    padding-left: 100px;
    height: 700px;
    width: 1200px;
}

.ler p {
    
    position: absolute;
    top: 20px;
    left: 340px;
    font-weight: 500;
    font-size: 30px;
   
    
}
.resumo{

    position: absolute;
    bottom:-400px;
    right:0px;
    width: 1000px;
    height: 400px;
    background-color: #0e0e12;
    border-radius: 8px 8px 8px 8px;



}
.texto{
    
    position: absolute;
    
    top: 160px;
    right:0px;
    width: 1000px;
    height: 90px;
    background-color: #0e0e12;
    border-radius: 8px 8px 8px 8px;
}

.ler p:hover{
    
    color: #ffffff;
}

.img_tbate {
    position: absolute;
    top: 30px;
    padding-left: 23px;


}

#tbateL {
    position: absolute;
    top: 50px;
    padding-left: 100px;

}
.div-imag{
    position: absolute;
    left: 300px;
    top: 280px;
    width: 270px;
    height: 380px;
    background-color: #0e0e12;
}
.ret_obras_tbate{
    position: absolute;
    left: 600px;
    top: 280px;
    width: 700px;
    height: 380px;
    background-color: #0e0e12;
}
.icone.lupa {
    width: 15px;
    height: 15px;
    border: 2px solid #918d8d;
    border-radius: 50%;
    position: relative;
    margin-top: 6px;
    right: -270px;
}

.icone.lupa:after {
    position: absolute;
    width: 13px;
    height: 2px;
    background-color: #918d8d;
    display: block;
    content: "";
    top: 3%;
    left: 40%;

    transform: rotate(45deg);
    transform-origin: -10px 15px;

}